/*global*/ 
html *{
    -webkit-font-smoothing: antialiased;
}
body{
	font-family: Menlo, Monaco, 'Courier New', monospace, "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
	font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #ddd;
    background: #333;
}
@media (min-width:768px){
    body{
        font-size: 20px;
    }
}
a{
    color: #ddd;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #fc0;
} 
a:visited{
    color: #CC3366;
}
.menu{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
}
@media (min-width:768px){
    .menu{
        width: 85%;
        max-width: 652px;
    }
}
.menu ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.menu ul li{
    display: inline;
    margin: 2px 13px 2px 13px;
}
.menu ul li a{
    font-size: 1em;
    font-weight: bold;
    
}
.menu ul li a:visited{
    color: #ddd;
}
@media (min-width:768px){
    .menu ul li a{
        font-size: 1.2em;
    }
}
.footer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
@media (min-width:768px){
    .footer{
        width: 85%;
        max-width: 652px;
    }
}
/*index*/
.index {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
@media (min-width:768px){
    .index {
        width: 85%;
        max-width: 652px;
    }
}
.index-item{
    border-bottom: 1px solid #3f3f3f;
    padding: 20px 10px 20px 10px;
}
@media (min-width:768px){
    .index-item {
        padding: 20px 20px 20px 20px;
    }
}
.index-item a{
    font-weight: bold;
}
.index-item-time{
    color: #8e8e8e; 
}
@media (max-width:768px){
    .index-ite-time{
        display: none;
    }
}
.index-pagination{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.index-pagination a:visited{
    color: #ddd;
}
.index-pagination-disabled{
    color: #8e8e8e;
}
/*post*/ 
.post-title{
    font-weight: bold;
    margin-top: 40px;
    font-size: 1.5em;
    text-align: left;
    border-bottom: 1px solid #3f3f3f;
    padding-bottom: 20px;
}
.post-time{
    margin-top: 20px;
    text-align: right;
}
.post-content{
	margin-top: 20px;
}
.post-content a{
	text-decoration: underline;
}
.post-content img{
    width: 100%;
    height: auto;
}
.post-footer{
	border-top: 1px solid #3f3f3f;
	margin-top: 20px;
	padding-top: 20px;
	text-align: right;
}
.post-footer-categories{
	color: #CC3366;
}
.post-footer-tags{
	color: #fc0;
}
/*about*/
.about {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
@media (min-width:768px) {
    .about {
        width: 85%;
        max-width: 652px;
    }
}
.about-item{
    border-bottom: 1px solid #3f3f3f;
    padding: 20px 10px 20px 10px;
}
.about-item h2{
    margin-bottom: 20px;
}