/*global*/ 
html *{
    -webkit-font-smoothing: antialiased;
}
body{
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
	font-size: 16px;
    color: #ddd;
    font-weight: 300;
    background: #333;
}
@media (min-width:768px){
    body{
        font-size: 20px;
    }
}
.menu{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
}
@media (min-width:768px){
    .menu{
        width: 80%;
        max-width: 600px;
    }
}
.menu ul{
    list-style:none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.menu ul li{
    display:inline;
    margin: 2px 13px 2px 13px;
}
.menu ul li a{
    font-size: 16px;
    font-weight: bold;
    color: #ddd;
    text-decoration: none;
}
@media (min-width:768px){
    .menu ul li a{
        font-size: 16px;
    }
}
.menu ul li a:hover{
    color: #fc0;
}
.footer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
@media (min-width:768px){
    .footer{
        width: 80%;
        max-width: 600px;
    }
}
/*page*/
.page {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:768px){
    .page {
        width: 80%;
        max-width: 600px;
    }
}
.page-line{
    border-top:1px dashed #DDDDDD;
    margin-top: 20px;
    padding-top: 20px;
    text-align: left;
}
.page-line a{
    color: #ddd;
    text-decoration: none;
}
.page-line a:hover{
    color: #ddd;
    color: #fc0;
}
.page-line time{
    color: #AAAAAA; 
}
@media (max-width:768px){
    .page-line time{
        display: none;
    }
}
.page-pagination{
    margin-top: 20px;
    text-align: center;
}
.page-paginator-nav{
    color: #333;
}
.page-paginator-disable{
    color: #AAAAAA;
}
/*post*/ 
.post-title{
    font-weight: bold;
    margin-top: 20px;
}
.post-title-line{
	border-top:1px dashed #DDDDDD;
	margin-top: 20px;
}
.post-time-line{
	border-top:1px dashed #DDDDDD;
	margin-top: 15px;
	padding-top: 10px;
	text-align: right;
	color: #666666;
}
.post-time-line-categories{
	color: #fc0;
}
.post-content{
	margin-top: 15px;
}
.post-content h4{
    background-color: #CCCCCC;
    border-radius: 4px;
    border-left: 10px solid #999999;
    padding: 12px;
}
.post-content img{
    width: 100%;
    height: auto;
}
/*about*/
.about {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .about {
        width: 80%;
        max-width: 600px;
    }
}
.about-info{
    margin-top: 20px;
	background: #CCCCCC;
	padding: 40px 0;
}
.about-introduction{
	background: #EEEEEE;
	padding: 40px 0;
}
.about-skills{
	padding: 40px 0;
	background: #39342d;
	margin-bottom: 20px;
}